h1{
    color: blue;
    justify-content: space-between;
    margin: 0px 100px;
    font-size: 50px;
    text-align: center;
}
h2{
    color: rgb(248, 20, 20);
    justify-content: space-between;
    margin: 0px 100px;
    font-size: 50px;
    text-align: center;
}
